<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<title>徳の木仮ビュー</title>

<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200..900&display=swap" rel="stylesheet">

</head>

<body>

<h1>徳の木仮ビュー</h1>
<p>行のズレもそのまま反映されます<br>※送信2度押しとかでズレるっぽい</p>

<input id="search" placeholder="検索..." />

<div id="table">Loading...</div>

<script src="script.js"></script>

</body>
</html>