body{
  font-family: "Noto Sans JP", sans;;
  background:#f4f6fb;
  margin:40px;
}

#search{
  padding:10px;
  font-size:16px;
  margin-bottom:20px;
  width:260px;
  border-radius:6px;
  border:1px solid #ccc;
}

table{
  border-collapse:collapse;
  background:white;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

th,td{
  padding:10px 14px;
  border-bottom:1px solid #eee;
}

th{
  background:#f1f3f8;
}

tr:hover{
  filter:brightness(0.96);
}

/* クラス色 */

.class1{ background:#ffb3b3; }
.class1.private{ background:#ffe5e5; }

.class2{ background:#b3d1ff; }
.class2.private{ background:#e5f0ff; }

.class3{ background:#b3ffb3; }
.class3.private{ background:#e6ffe6; }

.class4{ background:#ffe680; }
.class4.private{ background:#fff5cc; }