body{
  font-family: "Noto Sans JP", sans;
  margin:40px;
  background:#f5f7fb;
}

#search{
  padding:10px 12px;
  width:260px;
  border-radius:6px;
  border:1px solid #ccc;
  margin-bottom:20px;
}

table{
  border-collapse:collapse;
  background:white;
  box-shadow:0 4px 12px rgba(0,0,0,0.05);
}

th{
  background:#f0f2f7;
  text-align:left;
  padding:10px 14px;
}

td{
  padding:10px 14px;
}

td,th{
  border-bottom:1px solid #eee;
}

tr:hover{
  filter:brightness(0.97);
}

/* クラスカラー */

.class1{ background:#ffb3b3; }
.class1.private{ background:#ffe5e5; }

.class2{ background:#b3d1ff; }
.class2.private{ background:#e5f0ff; }

.class3{ background:#b3ffb3; }
.class3.private{ background:#e6ffe6; }

.class4{ background:#ffe680; }
.class4.private{ background:#fff5cc; }